@model PZ.Models.MenuBundleViewModel
@using PZ.Models

@section Head{

	<script>
		var token = $('input[name="__RequestVerificationToken"]').val();

		var headers = {};

		headers['__RequestVerificationToken'] = token;



		$(function () {
			$("#tabs").tabs();
		});

		$.fn.editable.defaults.mode = 'popup';
		$(document).ready(function () {
			$('.EditableSection').editable({
				headers: headers,
				toggle: 'manual',
				success:
        (function () {
        	$("#tabs").tabs('destroy').tabs();
        }),

			});

			$('.EditableTrigger').click(function (e) {
				e.stopPropagation();
				$(this).prev().editable('toggle');
			});

			$('.EditableReaload').on('save', function (e, params) {
				window.location.reload(true);
			});
		});

		$(document).ready(function () {
			$(".dish_order").click(function (event) {
				event.preventDefault();
				addToCart(this.id);
			});
		});

		var addToCart = function(id)
		{
			$.ajax({
				method: "POST",
				url: "../api/Web/post",
				data: JSON.stringify({ Action: "addToCart", CartItems: [id], CartAmount: [1] })
			})
	  .done(function (msg) {
	  	window.location.href = window.location.href;
	  });

		}

	</script>
}

@{
	ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<div id="tabs">
	<ul>
		@foreach (var menu in Model.Menus)
		{
			<li>
				@U.XEditableTrigger(menu.ID.ToString(), menu.Description, @Url.Action("_EditMenuDescription"),
				@<a href="#tab@(menu.ID)">@(menu.Description)</a>)
			</li>
		}

		@U.XEditableSelfTrigger("", "Nowe", @Url.Action("_EditMenuDescription"),
		@<a href="#">+</a>
													 )
	</ul>

	@foreach (var menu in Model.Menus)
	{
		<div id="tab@(menu.ID)">
			<div class="accordion">
				@foreach (var submenu in menu.Submenus)
				{
					<h3>
						@U.XEditableTrigger(submenu.ID.ToString(), submenu.Description, @Url.Action("_EditSubmenuDescription"),
						@<span>@submenu.Description</span>)
					</h3>
					<div>
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Price</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var dish in submenu.Dishes)
								{
									<tr>
										<td>@(dish.Name)</td>
										<td>@(dish.Price)</td>
										<td><a id="@(dish.ID)" class="dish_order" href="#">Zamów</a></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				}
				<h3>
					@U.XEditableSelfTrigger("", "Nowe", @Url.Action("_EditSubmenuDescription"),
					@<a href="#">+</a>)
				</h3>
				<div></div>
			</div>
		</div>
	}
</div>
