@model IEnumerable<PZ.Models.Order>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th class="category">
            @Html.DisplayNameFor(model => model.IssueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Table.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Waiter.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td class="category">
            @Html.DisplayFor(modelItem => item.IssueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Table.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Waiter.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
