@using PZ.Models
@model List<PZ.Models.Order>

@{
	ViewBag.Title = "title";
}

<div>
	@if (Model.Count > 0)
	{
		<h2>Otwarte zamówienia:</h2>
		<table class="table">
			<thead>
				<tr>
					<td>Nr</td>
					<td>Data</td>
					<td>Klient</td>
					<td>Reputacja</td>
					<td>Pozycje</td>
					<td>Stolik</td>
					<td>Status</td>

				</tr>
			</thead>
			<tbody>
				@{
		Order order = Model[0];
		for (int i = 0; i < Model.Count; i++)
		{
			order = Model[i];
			<tr>
				<td width="5%">
					@(i + 1)
				</td>
				<td width="5%">
					@(order.IssueDate)
				</td>
				<td width="10%">
					@(order.User.Email)
				</td>
				<td width="5%">
					@(order.User.Reputation)
					@Html.ActionLink("+", "repUp", new { id = order.UserID })
					@Html.ActionLink("-", "repDown", new { id = order.UserID })
				</td>
				<td width="60%">
					<table class="table">
						<thead>
							<tr>
								<td width="60%">
									Nazwa
								</td>
								<td width="20%">
									Cena
								</td>
								<td width="20%">
									Ilość
								</td>
							</tr>
						</thead>
						<tbody>
							@for (int j = 0; j < order.SubOrder.Count; j++)
							{
								<tr>
									<td width="60%">
										@(order.SubOrder.ElementAt(j).Dish.NameID)
									</td>
									<td width="20%">
										@(order.SubOrder.ElementAt(j).Dish.GetPrice().ToString("0.00"))
									</td>
									<td width="20%">
										@(order.SubOrder.ElementAt(j).Quantity)
									</td>
								</tr>
							}
						</tbody>
					</table>
				</td>
				<td width="5%">
					@(order.Table.ID)
				</td>
				<td width="15%">
					@(order.GetStatusName(true))

					@if (order.State < OrderState.paid)
					{
						@Html.ActionLink("Zmień status", "WaiterOrderProgress", new { orderId = order.ID })
					}
				</td>
			</tr>
		}
				}
			</tbody>
		</table>
	}
	else
	{
		<h2>Brak zamówień.</h2>
	}
</div>