@using PZ.Models
@model List<PZ.Models.Order>

@{
	ViewBag.Title = "title";
}

<div>
	<h2>Twoje zamówienia:</h2>
	<div>
		@{
			Order order = Model[0];
			for (int i = 0; i < Model.Count; order = Model[i], i++)
			{
				<div>
					<div>
						@(i + 1)
					</div>
					<div>
						@(order.IssueDate)
					</div>

					<div>
						@(order.SubOrder.Count)
					</div>

					<div>
						@(order.Table.ID)
					</div>
					<div>
						@(order.State)
					</div>
				</div>
			}
		}
	</div>
</div>