@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html



@helper XEditableSelfTrigger(string ID, string Name, string Url, Func<dynamic, HelperResult> HtmlString)
{
    if (Request.IsAuthenticated)
    //if (Request.IsAuthenticated && User.IsInRole("Administrators"))
    {
        <span class="EditableSection EditableReaload" data-type="text"
              data-pk="@ID" data-name="@Name"
              data-url="@Url"
              data-toggle="click"
              data-title="Edit @Name">
            @HtmlString(null)
        </span>
    }
}

@helper XEditableTrigger(string ID, string Name, string Url, Func<dynamic, HelperResult> HtmlString)
{
    if (Request.IsAuthenticated)
    //if (Request.IsAuthenticated && User.IsInRole("Administrators"))
    {
        <span class="EditableSection" data-type="text"
              data-pk="@ID" data-name="@Name"
              data-url="@Url"
              data-title="Edit @Name">
            @HtmlString(null)
        </span>
        <span class="EditableTrigger">
            Edit
        </span>
    }
    else
    {
        @HtmlString(null)
    }
}
