@model PZ.Models.Dish

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsServed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsServed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Menu.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuSubcategory.Subcategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuSubcategory.Subcategory)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
